@model IEnumerable<TravelTester.Areas.Admin.Models.Tours>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Places</th>
            <th scope="col">Transporters</th>
            <th scope="col">Price</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@Html.DisplayFor(modelItem => item.Id)</th>
                <th scope="row">@Html.DisplayFor(modelItem => item.Titile)</th>
                <td>  @Html.DisplayFor(modelItem => item.Place.Title)</td>
                <td>  @Html.DisplayFor(modelItem => item.Transporter.Title)</td>
                <td>  $@Html.DisplayFor(modelItem => item.Price)</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>