@model IEnumerable<TravelTester.Areas.Admin.Models.Tours>


@{
    ViewBag.Title = "Index";
}
<section class="rev_slider_wrapper slider1">
    <div id="slider1" class="rev_slider" data-version="5.0">
        <ul>
            <li data-transition="zoomout" data-slotamount="default" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off">
                <img src="~/Content/images/slider/banner-1.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina />
                <div class="tp-caption tp-resizeme banner-caption-h1 text-center"
                     data-x="center" data-hoffset="-220"
                     data-y="center" data-voffset="-30"
                     data-whitespace="nowrap"
                     data-transform_idle="o:1;"
                     data-transform_in="x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                     data-start="1000"
                     data-splitin="chars"
                     data-splitout="none"
                     data-responsive_offset="on"
                     data-elementdelay="0.05">
                    TAKE
                </div>
                <div class="tp-caption tp-resizeme banner-caption-h1 color-primary text-center"
                     data-x="center" data-hoffset="70"
                     data-y="center" data-voffset="-30"
                     data-whitespace="nowrap"
                     data-transform_idle="o:1;"
                     data-transform_in="x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                     data-start="1500"
                     data-splitin="chars"
                     data-splitout="none"
                     data-responsive_offset="on"
                     data-elementdelay="0.05">
                    YOUR DREAM
                </div>
                <div class="tp-caption small_light_white tp-resizeme banner-caption-p text-center"
                     data-x="center"
                     data-y="center"
                     data-hoffset="0"
                     data-voffset="20"
                     data-whitespace="nowrap"
                     data-transform_idle="o:1;"
                     data-style_hover="cursor:default;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power4.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                     data-start="2500"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on">
                    Your Travel, Your Life
                </div>

            </li>
            <li data-transition="slidingoverlayhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-rotate="0" data-saveperformance="off" data-description="">

                <img src="~/Content/images/slider/banner-6.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg" data-no-retina>
                <div class="tp-caption sfl tp-resizeme banner-caption-h1 "
                     data-x="center" data-hoffset="-260"
                     data-y="center" data-voffset="-50"
                     data-transform_idle="o:1;"
                     data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                     data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                     data-start="1000"
                     data-splitin="none"
                     data-splitout="none">
                    adventure is
                </div>
                <div class="tp-caption sfl tp-resizeme banner-caption-h1 color-primary "
                     data-x="center" data-hoffset="200"
                     data-y="center" data-voffset="-50"
                     data-transform_idle="o:1;"
                     data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                     data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                     data-start="1000"
                     data-splitin="none"
                     data-splitout="none">
                    worthwhile
                </div>
                <div class="tp-caption  tp-resizeme banner-caption-p text-center "
                     data-x="center" data-hoffset="0"
                     data-y="center" data-voffset="50"
                     data-whitespace="nowrap"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                     data-start="2000"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on">
                    For my part, I travel not to go anywhere, but to go. I travel for travel’s sake. <br /> The great affair is to move
                </div>
            </li>
        </ul>
    </div>
</section>
<section class="filter-tour">
    <div class="filter-wrap">
    </div>
</section>
<section class="choose-tour sec-padding sec-padding-top-large">
    <div class="zt-container">
        <div class="sec-title text-center sec-title-padding">
            <h2>Why choose us</h2>
            <span class="tagline">
                We are the ones who will give you the best experience when traveling
            </span>
            <span class="img-border"></span>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="box-awesome-service">
                    <div class="box-icon">
                        <span class="flaticon-big-compass"></span>
                    </div>
                    <div class="box-text">
                        <h3>ADVENTURE</h3>
                        <p>
                            We promise to accompany you all the way
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="box-awesome-service">
                    <div class="box-icon">
                        <span class="flaticon-save"></span>
                    </div>
                    <div class="box-text">
                        <h3>FUN & SAFETY</h3>
                        <p>
                            Absolute safety is what we aim to top the user
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="box-awesome-service">
                    <div class="box-icon">
                        <span class="flaticon-big-flag-waving"></span>
                    </div>
                    <div class="box-text">
                        <h3>IMPECCABLE SERVICE</h3>
                        <p>
                            We will try to be the best at present
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="latest-news sec-padding-top even">
    <div class="zt-container">
        <div class="sec-title text-center sec-title-padding">
            <h2>Tours</h2>
            <span class="tagline">Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos</span>
            <span class="img-border"></span>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="single-latest-news">
                        <div class="img-box">
                            <img src="@Html.DisplayFor(model => item.Images)" alt="" />
                        </div>
                        <div class="text-box position-relative">
                            <span class="angle-up"></span>
                            <h3>@Html.DisplayFor(model => item.Titile)</h3>
                            <p>@Html.DisplayFor(model => item.Description).ToString().Substring(0, 80)...</p>
                            <a href="@Url.Action("Details", "Tours", new { id=item.Id ,area="Main"})" class="latest-read-more">Read more <span class="color-primary fa fa-angle-double-right"></span></a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
@Html.Action("Places", "Home", new { area = "Main" });