@model IEnumerable<TravelTester.Areas.Admin.Models.Place>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Location</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <th scope="row"> @Html.DisplayFor(modelItem => item.Id)</th>
                <td>  @Html.DisplayFor(modelItem => item.Title)</td>
                <td>  @Html.DisplayFor(modelItem => item.Localtion)</td>
                <td>
                    @Html.ActionLink("Edit", "Users", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
